.cartitems {
    margin: 100px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: 25px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format-main p {
    width: 100%;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 82px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitems-total-item p span {
    text-align: right;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
    width: 100%;
}

.cartitems-promobox {
    width: 404px;
    margin-top: 15px;
    padding-left: 15px;
    height: 58px;
    background: #eaeaea;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 290px;
    height: 50px;
}

.cartitems-promobox button {
    width: 99px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 992px) {
    .cartitems {
        margin: 70px 10px;
    }

    .cartitems-format-main {
        gap: 15px;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
    }

    .cartitems-format {
        font-size: 14px;
    }

    .carticon-product-icon {
        height: 72px;
    }

    .cartitems-remove-icon {
        width: 13px;
        margin: 0 20px;
    }

    .cartitems-quantity {
        width: 55px;
        height: 45px;
        border: 1px solid #ebebeb;
    }

    .cartitems-down {
        width: 100%;
        flex-direction: column;
    }

    .cartitems-total {
        width: 100%;
        margin-right: 0;
        gap: 0;
    }

    .cartitems-total button {
        width: 50%;
        height: 50px;
        font-size: 15px;
        margin: 0 0 30px 0;
    }

    .cartitems-promobox {
        display: flex;
        width: 45%;
        padding-left: 10px;
        height: 50px;
    }

    .cartitems-promobox button {
        width: 50%;
        padding: 0 10px;
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {}