.breadcrumb_container {
    margin: 20px 60px 20px 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.breadcrumb_container img {
    margin: 0 10px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 992px) {
    .breadcrumb_container {
        margin: 20px 60px 20px 20px;
        align-items: center;
        font-size: 15px;
    }

    .breadcrumb_container img {
        margin: 0 5px;
    }
}

@media only screen and (max-width: 600px) {}