.shopcategory_sort {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% auto;
}

.shopcategory_sort span {
    font-weight: 600;
}

.shopcategory_sort div {
    border: 1px solid rgb(56, 52, 52);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.shopcategory_sort div:active {
    transform: scale(0.95);
}

.shopcategory_items {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shopcategory_button {
    width: 80%;
    padding: 5% 40% 0;
}