.newCollections_container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    padding-bottom: 10px;
}

.newCollections_container hr {
    width: 280px;
    margin: 0 auto 50px;
    border: 2px groove darkred;
}

.newCollections_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 992px) {
    .newCollections_container {
        width: 95%;
        margin: 0 auto;
    }

    .newCollections_container h1 {
        font-size: 28px;
        padding-bottom: 5px;
    }

    .newCollections_container hr {
        width: 200px;
        margin: 0 auto 50px;
        border: 1px groove darkred;
    }

    .newCollections_items {
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 1;
    }
}

@media only screen and (max-width: 600px) {
    .newCollections_items {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}